
#fundo{
background-color: rgb(243, 225, 197);
text-align: center;
  
}
.dv1{
margin: 50px;
background-color: rgb(252, 252, 252);
margin: 100px 400px 10px 450px;
border-radius: 30px;
width: 750px;
}
img {
height: 350px;
width: 680px;
margin: 50px 1px 1px 1px;
border-radius: 30px;

    
}
.t1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0px 0px 0px 40px;
text-align: left; 
font-size: 40px;
}
#prato{margin: 5px 40px 5px 35px;
font-size: 20px;
text-align: left;
padding: 0px 0px 0px 10px;
font-family: 'Times New Roman', Times, serif;
}
#t2{color: rgb(236, 202, 233);
font-size: 29px;
}
.quadrado {
background-color: #fbeff5; /* Cor de fundo rosa claro */
border-radius: 10px; /* Bordas arredondadas */
padding: 15px; /* Espaçamento interno */
margin-bottom: 20px; /* Espaço abaixo do quadrado */
margin: 5px 50px 10px 50px;
height: 150px;
}     
.quadrado h2 {
 font-size: 1.5em; /* Tamanho da fonte do título */
 margin-bottom: 10px; /* Espaço abaixo do título */
 text-align: left;
 color: rgb(245, 155, 240);
} 


.quadrado li {
text-align: left;
font-size: 20px;
}   
.i1{
    text-align: left;
    color: rgb(245, 176, 87);
    margin: 5px 50px 5px 50px;
}
 .alinhamento{
    text-align: left;
    margin: 5px 50px 5px 50px;
    font-size: 20px;
 }   
 li{
    padding: 5px;
 }
 .t3{
   color: rgb(230, 169, 90);
   text-align: left;
   margin: 20px 10px 10px 50px;
   font-size: 35px;
 }
 .lt{
   margin: 0px 50px 0px 60px;
   padding: 10px;
   text-align: left;
   font-size: 18px;
 }
.linha{
  margin: 10px 70px 0px 70px;
  height: 1px;
  background-color: rgba(216, 213, 226, 0.911);
}
.lis{
  margin: 0px 150px 0px 0px;
  padding:0px;
}
ol li::marker {
  font-weight: bold;
}
#nt{
  padding: 0px;
  text-align: left;
}
.nutricao{
  width: 100%;
  margin: 10px 50px 10px 107px;
  padding: 10px;
  border-collapse:collapse;
  font-size:19px;
  width:500px;}

.nutricao th {
  text-align: left;
  font-size: 1.5em;
  color: #814b2a;
}

.nutricao td {
  padding: 10px 0;
}

.nutricao td:first-child {
  text-align: left;
}

.nutricao td:last-child {
  text-align: right;
  font-weight: bold;
}

.nutricao tr {
  border-bottom: 1px solid #e0e0e0;
}

.nutricao tr:last-child {
  border-bottom: none; }
  #p2{
    text-align: center;
    font-size: 18px;
    margin: 17px 50px 10px 50px;
  }
  #cor{
    color: #814b2a;
  }